#game_wrap {

}

#game_container {
    float:left;
    max-width:50%;
    overflow:hidden;
}

#game_sidebar {
    float:left;
    width:50%;
    overflow:hidden;
    display: inline;

}

#defaultCountdown {
    width: 100px;
}

ul { padding: 0;  margin: 0;}
li {
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 10px;
    float: left;
    list-style: none;
    outline: solid;


}

img {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.img_selected {
    opacity: 1;
    transition: all 0.5s ease-in;
}

.matched {
    opacity: 1;
}