
/* ==========================================================================
   INDEX:

    1. Global styles
    1.1 Nav Bar - Piotr
    2. Top-Header
    3. How it Works - Enea
    4. Try Button
    5. Events - Marcin
    6. Testimonial
    7. Sign Up - Kris
    8. Team
    9. Footer
   ========================================================================== */
/*===== 1. Global Styles =====*/

html {
    margin: 0px;
}

body {
    font: 1em "Exo 2", sans-serif;
    margin: 0px;
}

h1 {
    font: 3em "Exo 2", sans-serif; }

h2 {
    font: 2em "Exo 2", sans-serif; }

h3 {
    font: 1.5em "Exo 2", sans-serif; }

a {
    text-decoration: none; }

a:hover {
    text-decoration: underline; }


/*==========================================*/
/*=========== Piotr ===========*/
/*==========================================*/
/*


nav{
    background-color: #b41558 ;
    min-width: 520px;
}

.logo {
    color: white;
    float:left;
    font-family: 'Atma', sans-serif;
    font-size: 45px;
    padding-left: 30px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding-top: 20px;
}

.options {
    float:left;
    padding: 20px 20px 0 20px;
    font-family: 'Atma', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.input {
    float: right;
    padding: 45px 40px 50px 40px;
}

#search-input{
    float: left;
    border-radius: 5px;
    border-style: solid;
    border-color: #005580 ;
    width: 200px;
    height: 24px;

}

.input button{
    border: none;
    float: right;
    border-radius: 5px;
    background-color: #red ;
    font-family: 'Atma', sans-serif;
    font-size: 14px;
    width: 40px;
    height: 29px;
    color: white;
}

li  {
    display: inline-block;
}

li a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    padding: 0 30px 0 30px;
}

li a:hover{
    background-color: #005580 ;
    color: white;
}


.navigation-list {

    text-underline: none;
    overflow: hidden;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.top-header{
    background-color: #dedede ;
    padding: 0 30px 40px; 20px;
}

.top-header h1{
    text-align: center;
    -webkit-margin-before: 0;
    padding-top: 40px;
}

.top-header img{

    border-radius: 95px;
    display: block;
    margin: auto;
    width 700px;
    height: 500px;
}*/

nav{
    background-color: #b41558   ;
    min-width: 520px;
    height: 115px;
}


.logo {
    color: white;
    float:left;
    font-family: 'Atma', sans-serif;
    font-size: 60px;
    padding-left: 30px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding-top: 10px;
}

a {

    text-decoration: underline;
}

.bg-img {
    min-height: 800px;
    background-image: url("../img/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /*padding: 40px; (If don't want to set min-height or some image content is there) */
}

.options {
    float:left;
    padding: 20px 20px 0 20px;
    font: 1em "Exo 2", sans-serif;
    font-weight: 500;
    color: black;
}

h1  {
    color: #fff;
    text-align: center;
    padding-top: 15%;
    margin: 0;
}

.input {
    float: right;
    padding: 40px 40px 50px 40px;
}

#search-input{
    float: left;
    border-radius: 5px;
    border-style: solid;
    border-color: #005580   ;
    width: 300px;
    height: 30px;

}

.input button{
    border: none;
    float: right;
    border-radius: 5px;
    background-color: #2B74B9 ;
    font-size: 30px;
    width: 40px;
    height: 35px;
    color: white;

}

li  {
    display: inline-block;
}

li a {
    margin-left: 80px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 0 40px 0 40px;
}

li a:hover{

    text-decoration: underline;

}
.navigation-list {

    text-underline: none;
    overflow: hidden;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.top-header{
    background-color: #dedede  ;
    padding: 0 30px 40px; 20px;
}

.top-header h1{
    text-align: center;
    -webkit-margin-before: 0;
    padding-top: 40px;
}



.button-try-header {

    background-color: #2B74B9; /* blue */
    border: none;
    color: white;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 42%;
    margin-top: 5%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

/*==========================================*/
/*===========3.How it Works?-Enea===========*/
/*==========================================*/


/*=how it works*/

.how-it-works {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 60px;
}

.how-works   {
    text-align: center;
}
.best-solution  {
    text-align: center;
}


.how-it-works{
    text-align: center;
}


/*=adivces-1=*/
.first-table-how-it-works   {
    max-width: 700px;
    width:100%;
    display: inline-block;
    text-align: center;
}


.flat-icon    {
    width:50%;
    top-margin: 0;
    text-align: center;
}
.choose-criteria    {
    margin-top: 60px;
    max-width:340px;
    width: 100%;
    float: left;
    text-align: center;
}
.comp-icon-top-right {
    max-width: 340px;
    width: 100%;
    float: right;
    text-align: center;
}


/*=adivces-2=*/
.choose-date {
    max-width: 700px;
    width:100%;
    display: inline-block;
    text-align: center;
}

.flat-icon-2    {
    width:50%;
    top-margin: 0;
    text-align: center;
}
.comp-middle-left    {
    max-width:340px;
    width: 100%;
    float: left;
    text-align: center;
}
.header-choose-date {
    margin-top: 60px;
    max-width: 340px;
    width: 100%;
    float: right;
    text-align: center;
}


/*=adivces-3=*/
.choose-event   {
    max-width: 700px;
    width:100%;
    display: inline-block;
    text-align: center;
}

.flat-icon-3  {
    width:50%;
    top-margin: 0;
    text-align: center;
}

.header-text-choose-event   {
    margin-top: 60px;
    max-width:340px;
    width: 100%;
    float: left;
    text-align: center;
}

.comp-bottom-right {
    max-width: 340px;
    width: 100%;
    float: right;
    text-align: center;
    top-margin:0;
}


/*==========================================*/
/*===========4. Tru Button - Enea===========*/
/*==========================================*/
div.try-button-now {
    background: #363433;
    text-align: center;
    padding: 15px 30px 25px 30px;
}
.try-now    {
    color: #C1C7CB;
}


.button-try {
    background-color: #2B74B9; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.button-try     {
    border-radius: 8px;
}

.top-header{
    background-color: #dedede;
    padding: 0 30px 40px; 20px;
}

.top-header h1{
    text-align: center;
    -webkit-margin-before: 0;
    padding-top: 40px;
}

.top-header img{

    border-radius: 95px;
    display: block;
    margin: auto;
    width 700px;
    height: 500px;
}




.button-try:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}




/*===== 5. Event Section =====*/
.events {
  width: 80%;
  margin: 0 auto 0;
  text-align: center; }

.events-p {
  width: 40%;
  margin: 60px auto 60px; }

.events-images {
  margin: 90px 0 30px;
  text-align: center;
  display: flex;
  justify-content: center; }

.event-image {
  margin: 0 70px 0 70px;
  display: inline; }

.img-circle {
  border-radius: 50%; }

.h2-events {
  color: #ff1818; }

/*===== 6. Testimonial Section =====*/
.testimonial {
  background: linear-gradient(to right, #ae1a4c, #812669);
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
  margin: 80px 0 0 0;
    font-size: 1.2em;
}

.p-testimonial {
  width: 70%;
  text-align: right;
  color: #f5f5f5;

}

.h2-testimonial {
  color: #f5f5f5;
    font-size: 2em;}

/* ====== 7. Sign-up section - Kris ====== */

div.comming-soon {
    background: darkgray;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    padding: 15px 30px 25px 30px;
    color: #ffffff;
}

.button {

    background-color: #005580
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}


/* ======== 8. Team section - Kris ======== */

.team {
    margin-bottom: 50px;
}

.our-team {
    text-transform: uppercase;
    font-size: 3em;
}

.team-header {
    text-align: center;
    margin-top: 50px;
}

.team-member-center {
    margin: 0 auto;
    width: 1190px;
}

.team-member {
    width: 240px;
    border: solid 1px darkgray;
    padding: 15px;
    display: inline-block;
    margin: 25px auto;
    margin-left: 10px;
}

.team-member-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: solid ;

}

.team-member-photo {
    padding: 20px;
    text-align: center;

}

.team-member-description {
    padding: 20px;
    color: slategrey;
}

/* ======== 9. Footer section - Kris ======== */

footer {
    padding: 15px;
    background: darkslategray;
    color: whitesmoke;

}

footer a {
    color: white;
}

p.icon-height {
    vertical-align: top;
    height: 50px;
}

.contact-center {
    margin: 0 auto;
    width: 880px;
    height: 330px;
}

.contact-data {
    width: 240px;
    height:200px;
    border: solid 2px;
    padding: 15px;
    float: left;;
    margin: 25px auto;
    margin-left: 10px;
    font-size: 1.3em;
    text-align: center;
    vertical-align: top;
}

.contact-map {
    margin: 25px auto;
    text-align: center;
    clear: both;
    width: 100%;
    height: 450px;
    padding: 15px;


}

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-content {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 390px;
    background-color: black;
    color: #FFF;
}
