
/* ==========================================================================
   INDEX:

    1. Global styles
    1.1 Nav Bar - Piotr
    2. Top-Header
    3. How it Works - Enea
    4. Try Button
    5. Events - Marcin
    6. Testimonial
    7. Sign Up - Kris
    8. Team
    9. Footer
   ========================================================================== */

$font-stack: "Exo 2", sans-serif;
$font-size: 1em;
$primary-color: #000;
$secondary-color: #ff1818;
$third-color: #f5f5f5;
$bg1-color: #ae1a4c;
$bg2-color: #812669;

/*===== 1. Global Styles =====*/

body {
  font: $font-size $font-stack ;
}

h1 {
  font: 3 * $font-size $font-stack;
}

h2 {
  font: 2 * $font-size $font-stack;
}

h3 {
  font: 1.5 * $font-size $font-stack;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*===== 5. Event Section =====*/

.events {
  width: 80%;
  margin: 0 auto 0;
  text-align: center;
}

.events-p {
  width: 40%;
  margin: 60px auto 0;
}

.events-images {
  margin: 90px 0 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.event-image {
  margin: 0 70px 0 70px;
  display: inline;
}

.img-circle {
  border-radius: 50%;
}

.h2-events {
  color: $secondary-color;
}

/*===== 6. Testimonial Section =====*/

.testimonial {
  background: linear-gradient(to right,$bg1-color,$bg2-color);
  width: 100%;
  text-align: center;
  padding: 20px 0 20px;
  margin: 80px 0 0 0;
}

.p-testimonial {
  width: 70%;
  text-align: right;
  color: $third-color;
}

.h2-testimonial {
  color: $third-color;
}

/* ====== 7. Sign-up section - Kris ====== */

