
/* ==========================================================================
   INDEX:

    1. Global styles
    1.1 Nav Bar - Piotr
    2. Top-Header
    3. How it Works - Enea
    4. Try Button
    5. Events - Marcin
    6. Testimonial
    7. Sign Up - Kris
    8. Team
    9. Footer
   ========================================================================== */

/* ======== 1. GLobal Styles ======== */

body {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;

}

h1  {
    font-size: 3em;
    letter-spacing: 4px;

}

h2  {
    font-size: 2em;
    letter-spacing: 3px;

}

h3  {
    font-size: 1.5em;
    letter-spacing: 2px;

}

/* ======== 5. Event Section ====== */

.events {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
}

.events-p {
    width: 40%;
    margin: 60px auto 0;
}

.events-images {
    margin: 90px 0 30px;
    text-align: center;
}

.event-image {
    margin: 0 70px 0 70px;
    display: inline;
}

/* ======== 6. Testimonial Section ====== */

.testimonial {
    background-color: #dedede;
    width: 100%;
    text-align: center;
    padding: 40px 0 40px;
    margin: 80px 0 0 0;
}

.p-testimonial {
    width: 70%;
    text-align: right;
}


/* ======== 7. Sign-up section - Kris ======== */

div.comming-soon {
    background: darkgray;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    padding: 15px 30px 25px 30px;
    color: #ffffff;
}

.button {
    background-color: #005580;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* ======== 8. Team section - Kris ======== */



.team-header {
    text-align: center;
}


.team-member {
    width: 250px;
    border: dotted;
    padding: 15px;
    display: inline-block;
}

.team-member-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: solid ;

}

.team-member-photo {
    padding: 20px;
    text-align: center;

}

.team-member-description {
    padding: 20px;
    color: slategrey;
}

/* ======== 9. Footer section - Kris ======== */

footer {
    padding: 30 px;
    background: black;
    color: whitesmoke;

}

.contact-phone {

}

.contact-address {
    
}

.contact-e-mail-link {
    color: #ffffff;
}

.contact-e-mail {

}